<div class="social-share-modal hidden" data-controller="social-share">
  <%= button_tag "Close", class: "btn btn-primary close-btn"%>
  <div class="social-share-modal__content">
    <h3 class="social-share-modal__heading">Share this recipe</h3>
    <div class="social-share-modal__icons">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/6" rel="nofollow" target="_blank">
        <i data-lucide="facebook"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?text=http://localhost:3000/6" rel="nofollow" target="_blank">
        <i data-lucide="twitter"></i>
      </a>
      <a href="https://www.linkedin.com/cws/share?url=http://localhost:3000/6" rel="nofollow" target="_blank">
        <i data-lucide="linkedin"></i>
      </a>
      <a href="mailto:?subject=Look Fun Codepen Account&amp;body=http://localhost:3000/6" rel="nofollow" target="_blank">
        <i data-lucide="mail"></i>
      </a>
    </div>
  </div>
